<style type='text/css'>

* {
	box-sizing: border-box;
}


body{ 
	background-color: #F5F5F5;
}

#chart_area{
	overflow-y: scroll; 
	height: 600px;
	width: 350px;
	background-color: #FFFFFF;
	word-wrap: break-word;
}

</style>